<h1>All About Learning Node.js</h1>
<p>
  The best way for me to learn a new technology is to just jump right in and start developing. I decided to make a simple memory game for my son but also decided to make the game multiplayer to add some real time functionality using socket.io. This application uses part of the MEAN stack (except for MongoDb). I have used node.js/express.js for the backend and Angular2 for my front end. Other tools involved were css bootstrap, bootstrap design <a href="https://bootswatch.com/spacelab/#containers">spacelab</a>, the angular-cli, and gulp. 
  <br /><br>
  The code for this application can be found at <a href="#">my github page</a>. I plan to move onto bigger and better things, but I felt this was a fun startup project to begin my exposure to Node.js. 
</p>
