<div>
  Single Player Rules: 
  <br />
  <ul>
    <li>Player must select a username and a difficulty</li>
    <li>Player clicks start button to start the game</li>
    <li>Player can select 2 cards per turn to attempt a match. </li> 
    <li>If player does not match the card during their turn, they lose a 'miss'</li>
    <li>Once all misses are used up, the player will lose</li>
    <li>Each turn, player has an amount of time they must make their move</li>
    <li>If player does not make their selection during the alloted time, they will lose</li>
    <li>If player makes all matches before using their misses, they win the game</li>
  </ul>
</div>
<div>
  Multiplayer Rules:
  <br />
  <ul>
    <li>Player must select a username, multiplayer game type, and a difficulty</li>
    <li>Once player starts the game, they will be moved to a lobby until they are matched with another player</li>
    <li>Once player has been matched to another player, they will be moved to the game room where the game countdown will start</li>
    <li>The player who was first inside the lobby will start once the countdown ends</li>
    <li>Players will take turns, trying to match all the cards on the board </li>
    <li>Once all the cards have been matched, players with the most matched cards wins</li>
    <li>If player runs out of time during their turn, they will automatically lose</li>
    <li>If players run out of remaining misses, the player with the most matches will win</li>
    <li>If a player quits the game, the other player will automatically win and will be redirected back to the page</li>
    <li>Once the game is over, players can restart. This time, the opposite player will start first</li>
  </ul>
</div>
